@import "tailwindcss";

@theme {
  @keyframes slide {
    0% {
      left: 0;
    }
    50% {
      left: -100%;
    }
    100% {
      left: 0%;
    }
  }
  --animate-slide: slide 150s linear infinite;

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  --animate-slideUp: slideUp 0.5s ease-out;

  @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
}



html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: oklch(20.8% 0.042 265.755);
}
