@import "tailwindcss";

@theme {
  @keyframes slide {
    0% {
      left: 0;
    }
    50% {
      left: -100%;
    }
    100% {
      left: 0%;
    }
  }
  --animate-slide: slide 150s linear infinite;
}

html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: oklch(20.8% 0.042 265.755);
}
